t
*.map
*.a
*.tmp
*.exe
*.pdb
*.dll
*.exp
*.lib
*.mak
*.obj
*.BIN
*.xz
src/enum_proto.*
src/.depend.*
src/CLANG_obj/*
src/Cygwin_obj/*
src/Debug/*
src/MSVC_obj/*
src/MSVC_obj_x64/*
src/MinGW_obj/*
src/MingW-utils/*
src/UpgradeLog.htm
src/VC6_obj/*
src/Watcom_obj/*
src/rcp/*
src/wsock_trace_mw.def
src/wsock_trace_mw_x64.def
src/wsock_trace_x64.def
src/test/*
src/geoip-gen*.c
src/misc-stuff/*
src/.vs/*
src/Wsock-trace.VC.db
src/Wsock-trace.vcxproj.user
src/get_caller-notes.txt
src/*.i
src/Release/*
src/Debug/*
src/compile_lua_*bit.bat
src/cyg-ver.c
src/init.lua
src/luac.out
src/iso3166-countrycodes.txt
src/libbacktrace/*
cpp_filter.py
asndrop.txt
backup/*
hosts
wsock_trace.appveyor
ws_trace.lck
ws_trace.hnd
ws_trace.hnd-journal
doc/doxygen.log
doc/output/
Makefile.Windows
Makefile.inc
fw-test-*.bat
AFUnix-issue.c
cl-lshift.txt
gcc-lshift.txt
curl-firewall.log
curl-tor-test.html
wx-stkwalk.*
fw.*
*.vbs
t.*
LuaJIT/src/host/*.o

EasyHook-master
appveyor-hosts
bsdly.net.traplist.withcc
dbip-city-lite*
dbip-country-lite*
get-master.bat
hosts-full.txt
install.bat
misc-stuff
link.args
cc.args
vmdef.lua