*.cbp
*.layout
*.info
*.prj
*.map
*.a
*.tmp
*.log
*.exe
*.idb
*.pdb
*.cbp
*.aps
*.dep
*.dll
*.dsp
*.dsw
*.exp
*.lib
*.mak
*.ncb
*.opt
*.plg
src/Cygwin_obj/*
src/Debug/*
src/MSVC_obj/*
src/MSVC_obj_x64/*
src/MinGW_obj/*
src/MingW-utils/*
src/UpgradeLog.htm
src/VC6_obj/*
src/Watcom_obj/*
src/Wsock-trace.vcxproj
src/boost_stack.cpp
src/boost_stack.hpp
src/dll-info-viewer.html
src/mhook.cpp
src/mhook.h
src/nm.c
src/prnpinfo.c
src/processes.c
src/rcp/
src/stkwalk-orig.cpp
src/stkwalk-orig.h
src/syms.c
src/wsock_trace_mw.def
src/wsock_trace_mw_x64.def
src/wsock_trace_x64.def


