t
*.map
*.a
*.tmp
*.exe
*.pdb
*.dll
*.exp
*.lib
*.mak
*.obj
*.BIN
src/enum_proto.*
src/.depend.*
src/CLANG_obj/*
src/Cygwin_obj/*
src/Debug/*
src/MSVC_obj/*
src/MSVC_obj_x64/*
src/MinGW_obj/*
src/MingW-utils/*
src/UpgradeLog.htm
src/VC6_obj/*
src/Watcom_obj/*
src/rcp/*
src/wsock_trace_mw.def
src/wsock_trace_mw_x64.def
src/wsock_trace_x64.def
src/test/*
src/geoip-gen*.c
src/misc-stuff/*
src/.vs/*
src/Wsock-trace.VC.db
src/Wsock-trace.vcxproj.user
src/get_caller-notes.txt
src/*.i
src/Release/*
src/Debug/*
src/compile_lua_*bit.bat
src/init.lua
src/luac.out
src/iso3166-countrycodes.txt
src/libbacktrace/*
cpp_filter.py
asndrop.txt
backup/*
hosts
wsock_trace.appveyor
ws_trace.lck
ws_trace.hnd
ws_trace.hnd-journal
doc/wsock_trace.chw
doc/doxygen.log
doc/output/
Makefile.Windows
Makefile.inc
fw-test-*.bat
AFUnix-issue.c
cl-lshift.txt
gcc-lshift.txt
curl-firewall.log
curl-tor-test.html
wx-stkwalk.*
fw.*
*.vbs
t.*
LuaJIT/src/*.o
LuaJIT/src/host/*.o
LuaJIT/src/host/buildvm_arch.h
LuaJIT/src/lj_bcdef.h
LuaJIT/src/lj_ffdef.h
LuaJIT/src/lj_folddef.h
LuaJIT/src/lj_libdef.h
LuaJIT/src/lj_recdef.h

EasyHook-master
appveyor-hosts
bsdly.net.traplist.withcc
get-master.bat
hosts-full.txt
install.bat
misc-stuff
link.args
cc.args
vmdef.lua

src/Geo-IP/DB-IP/dbip-city-lite-2020-03.mmdb

src/Geo-IP/IPFire/Git-latest/
src/Geo-IP/IPFire/get-latest.btm
src/Geo-IP/IPFire/COPYING
src/Geo-IP/IPFire/compile-database.py
src/Geo-IP/IPFire/Makefile.am
src/Geo-IP/IPFire/autogen.sh
src/Geo-IP/IPFire/configure.ac
src/Geo-IP/IPFire/debian/
src/Geo-IP/IPFire/examples/
src/Geo-IP/IPFire/m4/
src/Geo-IP/IPFire/man/
src/Geo-IP/IPFire/po/
src/Geo-IP/IPFire/src/.gitignore
src/Geo-IP/IPFire/src/clang_obj/
src/Geo-IP/IPFire/src/libloc.pc.in
src/Geo-IP/IPFire/src/libloc.sym
src/Geo-IP/IPFire/src/perl/
src/Geo-IP/IPFire/src/py-test.py
src/Geo-IP/IPFire/src/signing-key.pem
src/Geo-IP/IPFire/src/systemd/
src/Geo-IP/IPFire/src/test-importer.bat
cyg-test.bat
t1
t2
tt